header {
  background-color: var(--secondary);
  height: 9rem;
  border-radius: 4px;
}
.logo {
  margin: -15px 0 1rem;
  border-radius: 4px;
  height: 90px;
}
.version {
  font-size: 0.8rem;
  line-height: 0.7rem;
  font-weight: 400;
  position: absolute;
  top: 2.9rem;
  left: 284px;
  border: 1px solid red;
  z-index: 1;
  padding: 0.2rem;
  border-radius: 4px;
}
