:root {
  --primary: #e3fae3;
  --secondary: #4bdd11;
  --secondary-light: #a7df92;
  --black: #000000;
  --white: #fafdf9;
  --red: #eb0a28;
  --darkblue: #040b20;
  --lightblue: #a9b9e762;

  --ff-primary: sans-serif;
  --ff-serif: serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  color: var(--darkblue);
  margin: 0;
  padding: 0.25rem;
  font-family: var(--ff-primary);
}

h2 {
  margin: 0.25rem 0.75rem 0.1rem 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.25rem 0 0;
  padding: 0.25rem;
  line-height: 1.2;
}
body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--darkblue);
}

button {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 0.9rem;
  font-family: var(--ff-primary);
  color: var(--darkblue);
  padding: 0.4rem;
  margin: 0.25rem;
  min-height: fit-content;
  height: 2.5rem;
  border: 2px solid var(--secondary-light);
  background-color: var(--secondary-light);
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

img {
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  padding: 0.5rem;
}
