.timing {
  display: block;
  margin: 0.6rem 0 0 0;
  height: fit-content;
}

.timespan_darkblue {
  color: var(--darkblue);
}

.timespan_orange {
  color: darkorange;
  font-weight: 600;
}

.timespan_darkslategrey {
  color: darkslategrey;
  font-weight: 600;
}

.stop_button--passive {
  display: inline-block;
  background-color: #a1acb0;
  border: 2px solid #a1acb0;
  color: #799970;
}

.stop_button--active {
  border: 2px solid var(--red);
  background-color: var(--primary);
  color: var(--darkblue);
}
