.timing {
  display: block;
  margin: 1rem 0 0 0;
  height: fit-content;
  font-size: 1.2rem;
}

.timing_buttons {
  margin-top: 0.25rem;
}

.timespan_darkblue {
  color: var(--darkblue);
}

.timespan_orange {
  color: darkorange;
  font-weight: 600;
}

.timespan_darkslategrey {
  color: darkslategrey;
  font-weight: 600;
}

.start_button {
  width: 4rem;
}

.stop_button--passive {
  background-color: #a1acb0;
  border: 2px solid #a1acb0;
  width: 4rem;
  color: #799970;
}

.stop_button--active {
  border: 2px solid var(--red);
  background-color: var(--primary);
  width: 4rem;
  color: var(--darkblue);
}
