.list_container {
  display: block;
  border-radius: 4px;
  margin: 2.4rem 0 0 0.25rem;
  position: relative;
}

.list-container--passive {
  display: none;
}

.delete-all_button {
  position: absolute;
  top: 0.2rem;
  right: 0.45rem;
  height: 1.5rem;
  line-height: 0.5rem;
  border: 2px solid var(--red);
  background-color: var(--primary);
  z-index: 32;
}

.backup_button {
  position: absolute;
  top: 0.2rem;
  right: 6rem;
  height: 1.5rem;
  line-height: 0.5rem;
  z-index: 2;
}
