.analysis {
  display: block;
  border-radius: 4px;
  margin: 2.9rem 0 0 0.25rem;
  position: relative;
}

.analysed_container {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--darkblue);
  background-color: var(--white);
  border-radius: 4px;
  width: calc(100% - 0.5rem);
}

.analysed_part {
  padding: 0.25rem;
  line-height: 1.1rem;
}

.button_container {
  font-size: 1.2rem;
  padding: 0.25rem;
  margin-top: -0.25rem;
}

.button--active {
  background-color: var(--white);
  border: 2px solid var(--red);
}

.label_standard {
  font-size: 1.2rem;
  margin: 0.25rem 0 0 0.25rem;
  line-height: 2rem;
}

.select_standard {
  font-size: 1.2rem;
  background-color: var(--secondary-light);
  border-radius: 4px;
  appearance: none;
  margin-top: 0.25rem;
  height: 2.4rem;
}

.select--active {
  font-size: 1.2rem;
  background-color: var(--white);
  border: 2px solid var(--red);
  border-radius: 4px;
  appearance: none;
  margin-top: 0.25rem;
  height: 2.4rem;
}
