.listEntry {
  margin: 0.5rem 0.5rem 0.5rem 0.25rem;
  padding: 0.25rem;
  width: calc(100% - 0.75rem);
  position: relative;
  border-radius: 4px;
  background-color: var(--white);
  min-height: 7rem;
  border: 1px solid var(--secondary);
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 0.25rem;
}
.date_time {
  margin: 0;
}
.detail_button {
  position: absolute;
  background-color: var(--secondary-light);
  bottom: 0.25rem;
  height: 2rem;
  right: 0.25rem;
  z-index: 2;
}
.delete_button {
  color: var(--red);
  padding: 0.2rem;
  font-size: 0.8rem;
  font-weight: 700;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border: 2px solid var(--red);
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1rem;
  background-color: transparent;
  z-index: 2;
}
