.footer {
  color: var(--third);
  padding: 0.25rem;
  font-size: 0.9rem;
  background-color: var(--secondary-light);
  margin: 0.5rem 0.5rem -0;
  position: fixed;
  height: fit-content;

  bottom: 0;

  display: block;
  bottom: 0.5rem;
  border-radius: 4px;
}
