.modal {
  display: block;
  background-color: var(--white);
  padding: 0.5rem;
  border: 2px solid var(--red);
  border-radius: 4px;
  position: absolute;
  top: 10%;
  min-height: 10rem;
  height: fit-content;
  left: 0rem;
  width: 100%;
  z-index: 4;
}

.modal--passive {
  display: none;
}

.modal_button--red {
  color: var(--white);
  font-weight: 700;
  border: 2px solid var(--red);
  background-color: var(--red);
}

.modal_button--green {
  font-weight: 500;
  color: var(--darkblue);
  border: 2px solid var(--secondary-light);
  background-color: var(--secondary-light);
}

.button--passive {
  display: none;
}
